@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Poppins:wght@200;300;600;800&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    min-height: 100vh;
    background-image: linear-gradient(134deg, #59a3fe 30%, white);
    font-family: 'Noto Sans', sans-serif;
    background-size: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

img {
    max-width: 100vw;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 150px;
    margin-left: 50px;
}



/*MENU*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

nav ul a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    color: white;
    transition: 0.5s;
}


nav ul a:hover {
    transition: 0.5s;
    color: #fdc722;
}

nav li {
    display: inline-block;
    margin: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


nav ul li {
    padding: 20px;
}

nav ul li:not(.lg)::after {
    /*linha do hover*/
    display: block;
    content: '';
    width: 0%;
    background-color: #fdc722;
    transition: 0.5s;
    height: 2px;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li.lg {
    border: 3px solid white;
    border-radius: 30px;
    padding: 5px 40px;
    align-items: center;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}



/*TEXTOS PRINCIPAIS*/
.main-container {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.main-container h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    line-height: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}


.main-container .text-color h1 {
    color: rgb(253, 199, 34)
}

.main-container h6 {
    text-align: center;
    color: white;
    font-size: 1.4rem;
    line-height: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding-top: 10px;
}


.text-color {
    display: flex;
    width: 100%;
}

.main-container p {
    line-height: 20px;
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    padding-top: 10px;
}

.main-container aside {
    width: 50%;
    padding-right: 60px;
    justify-content: center;
}


/*IMAGEM PRINCIPAL*/

.main-container div {
    display: flex;
    width: 100%;
}


.main-container div img {
    width: 85%;
    object-fit: cover;
    padding-left: 50px;
}


/*FORMULARIO*/
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: stretch;
    justify-content: space-evenly;
}


form button {
    height: 40px;
    width: 50%;
    margin: 0 auto;
    color: #000000;
    background: #fdc722;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 70px;
    border: transparent;
    transition: all 0.4s ease;
}



form button:hover {
    cursor: pointer;
    background: aliceblue;
    color: black;
    border: 3px solid #59a3fe;
}



input {
    margin-top: 20px;
    height: 40px;
    justify-content: center;
    padding: 15px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
}

/*TOAST*/
#mensagem {
    transition: all 0.52s;
    background: #FFF;
    border: #777 solid 1px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .52);
    border-radius: 20px;
    position: fixed;
    top: -200px;
    width: 20%;
    padding: 25px 0;
    text-align: center;
    left: 40%;
    opacity: 0;
  
}

#mensagem.ver {
    top: 300px;
    opacity: 1;
}





/*RESPONSIVIDAE*/
@media screen and (max-width: 1080px) {

    html {
        min-height: 100;
    }



    nav ul {
        align-items: center;
        margin: 0;
    }

    nav .lg a {
        align-items: center;
    }

    li.lg {
        margin: 0;
        margin-left: 60px;
        width: 50px;
        display: inline;
    }


    header .logo img {
        width: 150px;
        margin-left: 30px;
    }

    .main-container p {
        padding: 20px 10px;
        align-items: center;
    }

    .main-container aside {
        width: 50%;
        padding-right: 10px;
        justify-content: center;
    }

    .main-container h6,
    .main-container h1 {
        padding: 0 10px;
    }

    form {
        margin: 0 auto;
        width: 100%;
        align-self: center;
        padding: 10px;
    }

    form button {
        width: 60%;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    form {
        width: 100%;
        padding: 10px 30px;
        margin: 0 auto;
        align-self: center;
    }

    form button {
        width: 100%;
    }

    input {
        width: 100%;
        align-self: center;
    }

    #mensagem {
        width: 30%;
        padding: 25px 10px;
        left: 40%;  
        text-align: center;
    }

    #mensagem.ver {
        top: 300px;
        z-index: 100;
    }
}




@media screen and (max-width: 940px) {

    header {
        padding-bottom: 50px;
    }

    body {
        height: auto;
        width: auto;
    }

    nav .lg a {
        align-items: center;
    }

    li.lg {
        margin: 0;
        margin-left: 60px;
        width: 50px;
        display: inline;
    }

    .main-container {
        flex-direction: column;
        padding-top: 0;
    }

    .main-container div {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .main-container aside {
        width: 100%;
        align-items: center;
    }


    .main-container p {
        font-size: 1.2rem;
        align-self: center;
        max-width: 900px;
        padding: 50px 100px 30px 100px;
        margin: 0%;
    }

    .text-color {
        padding-top: 60px;
        justify-content: center;
    }

    form {
        padding: 10px 30px;
        margin: 0 auto;
        width: 70%;
        align-self: center;
    }

    form button {
        width: 40%;
        align-self: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #mensagem {
        width: 40%;
        padding: 25px 10px;
        left: 30%;  
    }

    #mensagem.ver {
        top: 300px;
        z-index: 100;
    }



}


@media screen and (max-width: 640px) {

    body {
        height: auto;
        width: auto;
    }

    header {
        padding: 0%;
    }

    header .logo img {
        width: 120px;
        margin-left: 0;
    }


    main {
        flex-direction: column;
    }

    ul {
        align-items: center;
    }


    .main-container {
        flex-direction: column;
        justify-content: center;
        padding: 30px 20px;
    }


    .main-container aside {
        width: 100%;
        padding-right: 0;
    }

    .main-container div {
        width: 100%;
        justify-content: center;
    }

    .main-container div img {
        width: 100%;
        object-fit: cover;
        padding-bottom: 10px;
        padding-left: 0;
    }


    .main-container p {
        padding: 20px 10px;
        align-items: center;
    }

    .main-container h6,
    .main-container h1 {
        padding: 0 10px;
    }

    .text-color {
        padding-top: 20px;
    }


    form {
        margin: 0 auto;
        width: 100%;
        align-self: center;
        padding: 10px;
    }

    form button {
        width: 60%;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #mensagem {
        width: 40%;
        padding: 25px 10px;
        left: 30%;  
    }

    #mensagem.ver {
        top: 300px;
        -moz-top:300px !important;
        z-index: 100;
    }
}